---
import ErrorLayout from "../layouts/ErrorLayout.astro";
---

<ErrorLayout pageTitle="404 - Not Found!">
  <div class="mt-16 space-y-24 text-center">
    <h1 class="text-3xl sm:text-6xl font-extrabold">
      Something is not right... 🤕
    </h1>
    <h2 class="text-6xl font-bold text-default-accent">404 - Page not found</h2>
    <a href="/" class="text-3xl font-normal">Back to home</a>
  </div>
</ErrorLayout>
