---
import PageLayout from "../layouts/PageLayout.astro";

const pageTitle = "Marek Pankowski - About me";
---

<PageLayout pageTitle={pageTitle}>
  <div
    class="w-full h-full py-15 text-justify text-2xl/10 lg:text-3xl/13 font-normal xl:px-10 space-y-8 lg:space-y-6"
  >
    <img
      src="/public/mp.jpeg"
      alt="
   Marek Pankowski"
      class="rounded-lg w-100 h-150 object-cover shadow-2xl"
    />
    <p>
      Hi, I’m Marek — a fullstack developer with a frontend focus and a product
      mindset. I’ve worked on everything from greenfield apps to multi-year
      legacy systems, often bridging the gap between design, tech, and business
      needs. I care about building things that make sense for the user and the
      team behind it — and I enjoy working in collaborative, feedback-driven
      environments.
    </p>
    <p>
      My strongest experience is with React, TypeScript, and Ruby on Rails, but
      I try to stay tech-agnostic and choose tools that fit the problem, not the
      other way around. I’ve worked in agile teams, led frontend development on
      larger features, and contributed across the stack when needed. I’m also
      PSPO I certified, and I often work closely with designers and product
      folks to turn ideas into something real.
    </p>
    <p>
      Over the years, I’ve worked across different industries and team setups —
      from fast-moving startups to more structured environments — often in
      remote, international teams. I value clear communication, flexibility, and
      taking ownership — not just of the features I build, but of the product as
      a whole. I approach development with a mix of curiosity, pragmatism, and
      care for both the technical and human side of the work.
    </p>
    <p class="font-medium">
      Want to know more? Here’s my <a
        class="text-default-accent"
        target="_blank"
        href="https://www.linkedin.com/in/mkpanq/">full LinkedIn profile</a
      >
    </p>
  </div>
</PageLayout>
