---
import Availability from "../components/Availability.astro";
import PageLayout from "../layouts/PageLayout.astro";

const pageTitle = "Marek Pankowski - Contact";
---

<PageLayout pageTitle={pageTitle}>
  <div class="space-y-5 sm:space-y-10 md:space-y-15">
    <div
      class="flex mt-5 max-sm:flex-col max-sm:gap-4 text-center justify-between items-center"
    >
      <p class="text-2xl sm:text-4xl md:text-5xl lg:text-6xl font-bold">
        Let's connect !
      </p>
      <Availability />
    </div>
    <p
      class="text-justify text-xl sm:text-3xl md:text-4xl lg:text-5xl font-normal max-md:leading-10 md:leading-19"
    >
      Want to share a project idea, ask something, or just say hi?
    </p>
    <p>
      <a
        class="w-32 text-xl sm:text-3xl md:text-4xl lg:text-5xl font-semibold text-default-accent"
        target="_blank"
        href="mailto:%6d%61%72%65%6b%2e%6b%2e%70%61%6e%6b%6f%77%73%6b%69%40%67%6d%61%69%6c%2e%63%6f%6d"
        >Email me ! 📫</a
      >
    </p>
    <p
      class="text-lg text-center sm:text-xl md:text-2xl lg:text-3xl font-light"
    >
      Also, checkout my socials
    </p>
    <div class="text-center space-x-5 sm:space-x-10 sm:-mt-5">
      <a
        href="https://www.linkedin.com/in/mkpanq"
        target="_blank"
        class="fa-3x fa-brands fa-linkedin text-[#0a66c2]"></a>
      <a
        href="https://www.github.com/mkpanq"
        target="_blank"
        class="fa-3x fa-brands fa-github"></a>
      <a
        href="https://bsky.app/profile/mkpanq.com"
        target="_blank"
        class="fa-3x fa-brands fa-bluesky text-[#1684FF]"></a>
    </div>
  </div>
</PageLayout>
