---
import MainLayout from "../layouts/MainLayout.astro";
const pageTitle = "Contact";
---

<MainLayout>
  <div
    class="w-full h-full justify-center text-center py-45 font-bold text-7xl"
  >
    Here's {pageTitle}!
  </div>
</MainLayout>
