---
import PageLayout from "../layouts/PageLayout.astro";

const pageTitle = "Marek Pankowski - Contact";
---

<PageLayout pageTitle={pageTitle}>
  <div
    class="w-full h-full justify-center text-center py-45 font-bold text-7xl"
  >
    Here's {pageTitle}!
  </div>
</PageLayout>
