---
/** biome-ignore-all lint/correctness/noUnusedImports: Biome is not recognizing astro imports properly */

import "../styles/global.css";
import Background from "../components/background";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"
    ></script>
    <title>Marek Pankowski - Software Engineer</title>
  </head>
  <body>
    <Background client:visible>
      <h1 class="text-amber-50 text-9xl">Hello World !</h1>
    </Background>
  </body>
</html>
