---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"
    ></script>
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.fog.min.js"></script>
    <script>
      VANTA.FOG({
        el: "#index-bg",
        highlightColor: 0xf5d7a6,
        midtoneColor: 0xf5d7a6,
        lowlightColor: 0xf5d7a6,
        baseColor: 0xfffdfa,
        blurFactor: 0.9,
        speed: 3,
        zoom: 0.7,
      });

      // Light mode colors:
      // highlightColor: 0xf5d7a6,
      // midtoneColor: 0xf5d7a6,
      // lowlightColor: 0xf5d7a6,
      // baseColor: 0xfffdfa,

      // Dark Mode colors:
      // highlightColor: 0x9fb3bf,
      // midtoneColor: 0x9fb3bf,
      // lowlightColor: 0x9fb3bf,
      // baseColor: 0x16132b,

      // Others
      // --day: #fffdfa;
      // --evening: #fccc83;
      // --dusk: #db7a2a;
      // --night: #0f131c;
      // --dawn: #16132b;
      // --morning: #9fb3bf;
      // --shadow: #1a1917;
      // --bounce-light: #f5d7a6;
    </script>
    <title>Astro</title>
  </head>
  <body>
    <div id="index-bg" class="absolute top-0 left-0 w-full h-full"></div>
  </body>
</html>
