---
import { returnNewDateTime } from "../lib/currentDatetime";
---

<div
  class="font-mono text-sm flex flex-col gap-2 justify-center text-center items-center pb-10"
>
  <p>Warsaw, Poland</p>
  <p id="footerDateTime">
    {returnNewDateTime()}
  </p>
  <p>© 2025 Marek Pankowski. All rights reserved.</p>
</div>

<script>
  import { updateDateTime } from "../lib/currentDatetime";
  setInterval(() => updateDateTime("footerDateTime"), 1000);
</script>
