---

---

<div class="flex justify-between font-medium text-black/50 text-3xl">
  <a href="/" class="font-semibold hover:text-black"> mkpanq.com </a>
  <div class="flex space-x-10">
    <a href="/about" class="hover:text-black"> about </a>
    <a href="/contact" class="hover:text-black"> contact </a>
  </div>
</div>
