---
import ThemeToggle from "./ThemeToggle.astro";
---

<div
  class="flex flex-col gap-5 md:flex-row w-full md:justify-between font-medium text-default-black dark:text-default-white text-3xl"
>
  <span class="flex justify-between">
    <a
      href="/"
      class="font-semibold hover:text-shadow-lg/20 dark:text-shadow-default-accent"
    >
      mkpanq.com
    </a>
    <span class="md:hidden">
      <ThemeToggle />
    </span>
  </span>

  <div class="flex justify-between items-center md:gap-8">
    <span
      class="flex space-x-8 [&>*]:hover:text-shadow-lg/20 dark:[&>*]:text-shadow-default-accent"
    >
      <a href="/about"> about </a>
      <a href="/contact"> contact </a>
    </span>
    <span class="max-md:hidden self-end">
      <ThemeToggle />
    </span>
  </div>
</div>
