---
import "../styles/global.css";
import Background from "../components/Background.astro";
import { ClientRouter } from "astro:transitions";
import { SEO } from "astro-seo";
import { ThemeScript } from "astro-theme-toggle";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <ClientRouter />
    <SEO
      titleTemplate="Marek Pankowski - %s"
      titleDefault="Marek Pankowski - Software Engineer"
      description="Welcome to my personal site, where I showcase my expertise in software engineering and share insights on technology."
      canonical="https://mkpanq.com"
      charset="UTF-8"
      twitter={{
        card: "summary",
        creator: "@mkpanq",
        site: "@mkpanq",
      }}
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="theme-color"
      content="#f3f4f6"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#1b1b1b"
      media="(prefers-color-scheme: dark)"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />

    <script
      defer
      is:inline
      src="https://analytics.mkpanq.com/script.js"
      data-website-id="4c98eff1-39b5-4163-af7d-63296dff51c3"></script>
    <title>{pageTitle}</title>
  </head>
  <body class="w-screen h-screen">
    <ThemeScript />
    <Background />
    <div class="flex flex-col items-center justify-center w-full h-full">
      <div class="flex flex-col w-full h-full p-3 md:p-20">
        <slot />
      </div>
    </div>
  </body>
</html>
