---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import { ThemeScript } from "astro-theme-toggle";
import Background from "../components/Background.astro";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <ClientRouter />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <title>{pageTitle}</title>
  </head>
  <body class="w-screen h-screen">
    <ThemeScript />
    <Background />
    <div class="flex items-center justify-center w-full h-full">
      <div
        class="w-full h-full mt-10 mx-4 lg:w-3/4 lg:h-3/4 p-3 space-y-5 flex flex-col"
      >
        <slot />
      </div>
    </div>
  </body>
</html>
