---
import "../styles/global.css";
import Background from "../components/background";
import Header from "../components/header";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script is:inline src="https://cdn.jsdelivr.net/npm/p5@1.11.9/lib/p5.min.js"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Marek Pankowski - Software Engineer</title>
  </head>
  <body class="w-screen h-screen">
    <Background client:only />
    <!-- TODO: Add size endpoints for mobile  -->
    <div class="flex items-center justify-center w-full h-full font-inter">
      <div class="w-3/4 h-3/4 border p-3 space-y-5 flex flex-col">
        <Header />
        <div class="border grow">
          <slot />
        </div>
      </div>
    </div>
  </body>
</html>
